## Import Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# label encoding the data 
from sklearn.preprocessing import LabelEncoder 

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn import metrics

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

from sklearn.metrics import SCORERS
  
import seaborn as sns
sns.set(rc={'figure.figsize':(6,6)}) 
%matplotlib inline

## Loading the Data

In [2]:
data = pd.read_csv("Train.csv")
data.head()

,X,Y,target_2015,elevation,precip 2014-11-16 - 2014-11-23,precip 2014-11-23 - 2014-11-30,precip 2014-11-30 - 2014-12-07,precip 2014-12-07 - 2014-12-14,precip 2014-12-14 - 2014-12-21,precip 2014-12-21 - 2014-12-28,...,precip 2019-03-24 - 2019-03-31,precip 2019-03-31 - 2019-04-07,precip 2019-04-07 - 2019-04-14,precip 2019-04-14 - 2019-04-21,precip 2019-04-21 - 2019-04-28,precip 2019-04-28 - 2019-05-05,precip 2019-05-05 - 2019-05-12,precip 2019-05-12 - 2019-05-19,LC_Type1_mode,Square_ID
0,34.26,-15.91,0.0,887.764222,0.0,0.0,0.0,14.844025,14.552823,12.237766,...,0.896323,1.68,0.0,0.0,0.0,0.0,0.0,0.0,9,4e3c3896-14ce-11ea-bce5-f49634744a41
1,34.26,-15.90,0.0,743.403912,0.0,0.0,0.0,14.844025,14.552823,12.237766,...,0.896323,1.68,0.0,0.0,0.0,0.0,0.0,0.0,9,4e3c3897-14ce-11ea-bce5-f49634744a41
2,34.26,-15.89,0.0,565.728343,0.0,0.0,0.0,14.844025,14.552823,12.237766,...,0.896323,1.68,0.0,0.0,0.0,0.0,0.0,0.0,9,4e3c3898-14ce-11ea-bce5-f49634744a41
3,34.26,-15.88,0.0,443.392774,0.0,0.0,0.0,14.844025,14.552823,12.237766,...,0.896323,1.68,0.0,0.0,0.0,0.0,0.0,0.0,10,4e3c3899-14ce-11ea-bce5-f49634744a41
4,34.26,-15.87,0.0,437.443428,0.0,0.0,0.0,14.844025,14.552823,12.237766,...,0.896323,1.68,0.0,0.0,0.0,0.0,0.0,0.0,10,4e3c389a-14ce-11ea-bce5-f49634744a41

In [3]:
data.dtypes

X                                 float64
Y                                 float64
target_2015                       float64
elevation                         float64
precip 2014-11-16 - 2014-11-23    float64
precip 2014-11-23 - 2014-11-30    float64
precip 2014-11-30 - 2014-12-07    float64
precip 2014-12-07 - 2014-12-14    float64
precip 2014-12-14 - 2014-12-21    float64
precip 2014-12-21 - 2014-12-28    float64
precip 2014-12-28 - 2015-01-04    float64
precip 2015-01-04 - 2015-01-11    float64
precip 2015-01-11 - 2015-01-18    float64
precip 2015-01-18 - 2015-01-25    float64
precip 2015-01-25 - 2015-02-01    float64
precip 2015-02-01 - 2015-02-08    float64
precip 2015-02-08 - 2015-02-15    float64
precip 2015-02-15 - 2015-02-22    float64
precip 2015-02-22 - 2015-03-01    float64
precip 2015-03-01 - 2015-03-08    float64
precip 2015-03-08 - 2015-03-15    float64
precip 2019-01-20 - 2019-01-27    float64
precip 2019-01-27 - 2019-02-03    float64
precip 2019-02-03 - 2019-02-10    float64
precip 2019-02-10 - 2019-02-17    float64
precip 2019-02-17 - 2019-02-24    float64
precip 2019-02-24 - 2019-03-03    float64
precip 2019-03-03 - 2019-03-10    float64
precip 2019-03-10 - 2019-03-17    float64
precip 2019-03-17 - 2019-03-24    float64
precip 2019-03-24 - 2019-03-31    float64
precip 2019-03-31 - 2019-04-07    float64
precip 2019-04-07 - 2019-04-14    float64
precip 2019-04-14 - 2019-04-21    float64
precip 2019-04-21 - 2019-04-28    float64
precip 2019-04-28 - 2019-05-05    float64
precip 2019-05-05 - 2019-05-12    float64
precip 2019-05-12 - 2019-05-19    float64
LC_Type1_mode                       int64
Square_ID                          object
dtype: object

In [4]:
data.describe()

,X,Y,target_2015,elevation,precip 2014-11-16 - 2014-11-23,precip 2014-11-23 - 2014-11-30,precip 2014-11-30 - 2014-12-07,precip 2014-12-07 - 2014-12-14,precip 2014-12-14 - 2014-12-21,precip 2014-12-21 - 2014-12-28,...,precip 2019-03-17 - 2019-03-24,precip 2019-03-24 - 2019-03-31,precip 2019-03-31 - 2019-04-07,precip 2019-04-07 - 2019-04-14,precip 2019-04-14 - 2019-04-21,precip 2019-04-21 - 2019-04-28,precip 2019-04-28 - 2019-05-05,precip 2019-05-05 - 2019-05-12,precip 2019-05-12 - 2019-05-19,LC_Type1_mode
count,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,...,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.00000
mean,35.077656,-15.813802,0.076609,592.848206,1.610760,2.502058,1.162076,8.270610,8.892459,9.572821,...,35.637354,2.126234,3.453395,3.559366,9.127677,1.660709,0.526144,0.968101,1.585743,10.73175
std,0.392395,0.359789,0.228734,354.790357,4.225461,8.631846,4.396676,4.263375,3.760052,4.523767,...,14.519169,3.734829,8.007248,3.820294,6.868937,4.418032,1.494935,3.690698,4.651863,2.02610
min,34.260000,-16.640000,0.000000,45.541444,0.000000,0.000000,0.000000,1.411452,3.580342,1.254098,...,15.803429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.00000
25%,34.760000,-16.070000,0.000000,329.063852,0.000000,0.000000,0.000000,5.548440,5.905440,6.179885,...,22.021763,0.000000,0.000000,0.000000,4.352528,0.000000,0.000000,0.000000,0.000000,9.00000
50%,35.050000,-15.800000,0.000000,623.000000,0.000000,0.000000,0.000000,7.941822,8.618390,8.786780,...,34.275716,0.896323,0.000000,2.607053,7.862453,0.000000,0.000000,0.000000,0.000000,10.00000
75%,35.390000,-15.520000,0.000000,751.434813,1.261848,0.000000,0.000000,10.887235,10.960668,12.670775,...,44.253897,2.076590,2.914996,6.390000,13.459070,0.000000,0.000000,0.000000,0.000000,12.00000
max,35.860000,-15.210000,1.000000,2803.303645,19.354969,41.023858,22.020803,18.870675,23.044340,21.757828,...,72.123185,16.403638,37.059980,12.979454,46.367849,19.475846,6.914834,18.170051,20.092777,17.00000

## Data Exploration

In [5]:
data.isna().sum()

X                                 0
Y                                 0
target_2015                       0
elevation                         0
precip 2014-11-16 - 2014-11-23    0
precip 2014-11-23 - 2014-11-30    0
precip 2014-11-30 - 2014-12-07    0
precip 2014-12-07 - 2014-12-14    0
precip 2014-12-14 - 2014-12-21    0
precip 2014-12-21 - 2014-12-28    0
precip 2014-12-28 - 2015-01-04    0
precip 2015-01-04 - 2015-01-11    0
precip 2015-01-11 - 2015-01-18    0
precip 2015-01-18 - 2015-01-25    0
precip 2015-01-25 - 2015-02-01    0
precip 2015-02-01 - 2015-02-08    0
precip 2015-02-08 - 2015-02-15    0
precip 2015-02-15 - 2015-02-22    0
precip 2015-02-22 - 2015-03-01    0
precip 2015-03-01 - 2015-03-08    0
precip 2015-03-08 - 2015-03-15    0
precip 2019-01-20 - 2019-01-27    0
precip 2019-01-27 - 2019-02-03    0
precip 2019-02-03 - 2019-02-10    0
precip 2019-02-10 - 2019-02-17    0
precip 2019-02-17 - 2019-02-24    0
precip 2019-02-24 - 2019-03-03    0
precip 2019-03-03 - 2019-03-10    0
precip 2019-03-10 - 2019-03-17    0
precip 2019-03-17 - 2019-03-24    0
precip 2019-03-24 - 2019-03-31    0
precip 2019-03-31 - 2019-04-07    0
precip 2019-04-07 - 2019-04-14    0
precip 2019-04-14 - 2019-04-21    0
precip 2019-04-21 - 2019-04-28    0
precip 2019-04-28 - 2019-05-05    0
precip 2019-05-05 - 2019-05-12    0
precip 2019-05-12 - 2019-05-19    0
LC_Type1_mode                     0
Square_ID                         0
dtype: int64

In [6]:
df = data.fillna(data.mean())
df.head()

,X,Y,target_2015,elevation,precip 2014-11-16 - 2014-11-23,precip 2014-11-23 - 2014-11-30,precip 2014-11-30 - 2014-12-07,precip 2014-12-07 - 2014-12-14,precip 2014-12-14 - 2014-12-21,precip 2014-12-21 - 2014-12-28,...,precip 2019-03-24 - 2019-03-31,precip 2019-03-31 - 2019-04-07,precip 2019-04-07 - 2019-04-14,precip 2019-04-14 - 2019-04-21,precip 2019-04-21 - 2019-04-28,precip 2019-04-28 - 2019-05-05,precip 2019-05-05 - 2019-05-12,precip 2019-05-12 - 2019-05-19,LC_Type1_mode,Square_ID
0,34.26,-15.91,0.0,887.764222,0.0,0.0,0.0,14.844025,14.552823,12.237766,...,0.896323,1.68,0.0,0.0,0.0,0.0,0.0,0.0,9,4e3c3896-14ce-11ea-bce5-f49634744a41
1,34.26,-15.90,0.0,743.403912,0.0,0.0,0.0,14.844025,14.552823,12.237766,...,0.896323,1.68,0.0,0.0,0.0,0.0,0.0,0.0,9,4e3c3897-14ce-11ea-bce5-f49634744a41
2,34.26,-15.89,0.0,565.728343,0.0,0.0,0.0,14.844025,14.552823,12.237766,...,0.896323,1.68,0.0,0.0,0.0,0.0,0.0,0.0,9,4e3c3898-14ce-11ea-bce5-f49634744a41
3,34.26,-15.88,0.0,443.392774,0.0,0.0,0.0,14.844025,14.552823,12.237766,...,0.896323,1.68,0.0,0.0,0.0,0.0,0.0,0.0,10,4e3c3899-14ce-11ea-bce5-f49634744a41
4,34.26,-15.87,0.0,437.443428,0.0,0.0,0.0,14.844025,14.552823,12.237766,...,0.896323,1.68,0.0,0.0,0.0,0.0,0.0,0.0,10,4e3c389a-14ce-11ea-bce5-f49634744a41

In [7]:
counter = 1
counter2 = 1
for col in df.columns:
    if 'precip 2014' in col:
        df.rename(columns = {col : f'precipitation_week{counter}_2015'}, inplace = True)
        counter = counter + 1
    elif 'precip 2015' in col:
        df.rename(columns = {col : f'precipitation_week{counter}_2015'}, inplace = True)
        counter = counter + 1
    elif 'precip 2019' in col:
        df.rename(columns = {col : f'precipitation_week{counter2}_2019'}, inplace = True)
        counter2 = counter2 + 1
df.rename(columns = {'LC_Type1_mode' : 'Land_type'}, inplace = True)

In [8]:
df.head()

,X,Y,target_2015,elevation,precipitation_week1_2015,precipitation_week2_2015,precipitation_week3_2015,precipitation_week4_2015,precipitation_week5_2015,precipitation_week6_2015,...,precipitation_week10_2019,precipitation_week11_2019,precipitation_week12_2019,precipitation_week13_2019,precipitation_week14_2019,precipitation_week15_2019,precipitation_week16_2019,precipitation_week17_2019,Land_type,Square_ID
0,34.26,-15.91,0.0,887.764222,0.0,0.0,0.0,14.844025,14.552823,12.237766,...,0.896323,1.68,0.0,0.0,0.0,0.0,0.0,0.0,9,4e3c3896-14ce-11ea-bce5-f49634744a41
1,34.26,-15.90,0.0,743.403912,0.0,0.0,0.0,14.844025,14.552823,12.237766,...,0.896323,1.68,0.0,0.0,0.0,0.0,0.0,0.0,9,4e3c3897-14ce-11ea-bce5-f49634744a41
2,34.26,-15.89,0.0,565.728343,0.0,0.0,0.0,14.844025,14.552823,12.237766,...,0.896323,1.68,0.0,0.0,0.0,0.0,0.0,0.0,9,4e3c3898-14ce-11ea-bce5-f49634744a41
3,34.26,-15.88,0.0,443.392774,0.0,0.0,0.0,14.844025,14.552823,12.237766,...,0.896323,1.68,0.0,0.0,0.0,0.0,0.0,0.0,10,4e3c3899-14ce-11ea-bce5-f49634744a41
4,34.26,-15.87,0.0,437.443428,0.0,0.0,0.0,14.844025,14.552823,12.237766,...,0.896323,1.68,0.0,0.0,0.0,0.0,0.0,0.0,10,4e3c389a-14ce-11ea-bce5-f49634744a41

In [9]:
df.columns

Index(['X', 'Y', 'target_2015', 'elevation', 'precipitation_week1_2015',
       'precipitation_week2_2015', 'precipitation_week3_2015',
       'precipitation_week4_2015', 'precipitation_week5_2015',
       'precipitation_week6_2015', 'precipitation_week7_2015',
       'precipitation_week8_2015', 'precipitation_week9_2015',
       'precipitation_week10_2015', 'precipitation_week11_2015',
       'precipitation_week12_2015', 'precipitation_week13_2015',
       'precipitation_week14_2015', 'precipitation_week15_2015',
       'precipitation_week16_2015', 'precipitation_week17_2015',
       'precipitation_week1_2019', 'precipitation_week2_2019',
       'precipitation_week3_2019', 'precipitation_week4_2019',
       'precipitation_week5_2019', 'precipitation_week6_2019',
       'precipitation_week7_2019', 'precipitation_week8_2019',
       'precipitation_week9_2019', 'precipitation_week10_2019',
       'precipitation_week11_2019', 'precipitation_week12_2019',
       'precipitation_week13_2019', 'precipitation_week14_2019',
       'precipitation_week15_2019', 'precipitation_week16_2019',
       'precipitation_week17_2019', 'Land_type', 'Square_ID'],
      dtype='object')

In [10]:
df.Land_type.value_counts()

12    6151
10    4817
9     4008
17     542
14     427
11     166
4      131
2      122
5       52
13      42
8        7
7        1
Name: Land_type, dtype: int64

In [11]:
df.describe()

,X,Y,target_2015,elevation,precipitation_week1_2015,precipitation_week2_2015,precipitation_week3_2015,precipitation_week4_2015,precipitation_week5_2015,precipitation_week6_2015,...,precipitation_week9_2019,precipitation_week10_2019,precipitation_week11_2019,precipitation_week12_2019,precipitation_week13_2019,precipitation_week14_2019,precipitation_week15_2019,precipitation_week16_2019,precipitation_week17_2019,Land_type
count,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,...,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.00000
mean,35.077656,-15.813802,0.076609,592.848206,1.610760,2.502058,1.162076,8.270610,8.892459,9.572821,...,35.637354,2.126234,3.453395,3.559366,9.127677,1.660709,0.526144,0.968101,1.585743,10.73175
std,0.392395,0.359789,0.228734,354.790357,4.225461,8.631846,4.396676,4.263375,3.760052,4.523767,...,14.519169,3.734829,8.007248,3.820294,6.868937,4.418032,1.494935,3.690698,4.651863,2.02610
min,34.260000,-16.640000,0.000000,45.541444,0.000000,0.000000,0.000000,1.411452,3.580342,1.254098,...,15.803429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.00000
25%,34.760000,-16.070000,0.000000,329.063852,0.000000,0.000000,0.000000,5.548440,5.905440,6.179885,...,22.021763,0.000000,0.000000,0.000000,4.352528,0.000000,0.000000,0.000000,0.000000,9.00000
50%,35.050000,-15.800000,0.000000,623.000000,0.000000,0.000000,0.000000,7.941822,8.618390,8.786780,...,34.275716,0.896323,0.000000,2.607053,7.862453,0.000000,0.000000,0.000000,0.000000,10.00000
75%,35.390000,-15.520000,0.000000,751.434813,1.261848,0.000000,0.000000,10.887235,10.960668,12.670775,...,44.253897,2.076590,2.914996,6.390000,13.459070,0.000000,0.000000,0.000000,0.000000,12.00000
max,35.860000,-15.210000,1.000000,2803.303645,19.354969,41.023858,22.020803,18.870675,23.044340,21.757828,...,72.123185,16.403638,37.059980,12.979454,46.367849,19.475846,6.914834,18.170051,20.092777,17.00000

In [12]:
new_df = df[['X', 'Y', 'elevation', 'Land_type']]

## Mean of 3 consecutive weeks - 2015

In [13]:
counter1 = 1
counter2 = 1
for col in df.columns:
    if '2015' in col and counter1 <= 13:
        new_df[f'2015_mean_{counter2}'] = (df[f'precipitation_week{counter1}_2015'] + df[f'precipitation_week{counter1+1}_2015'] + df[f'precipitation_week{counter1+2}_2015'])/3
        counter1 = counter1 + 3
        counter2 = counter2 + 1

<ipython-input-13-88f35708b1a6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[f'2015_mean_{counter2}'] = (df[f'precipitation_week{counter1}_2015'] + df[f'precipitation_week{counter1+1}_2015'] + df[f'precipitation_week{counter1+2}_2015'])/3

In [14]:
new_df.head()

,X,Y,elevation,Land_type,2015_mean_1,2015_mean_2,2015_mean_3,2015_mean_4,2015_mean_5
0,34.26,-15.91,887.764222,9,0.0,13.878205,39.342625,21.263381,8.600961
1,34.26,-15.90,743.403912,9,0.0,13.878205,39.342625,21.263381,8.600961
2,34.26,-15.89,565.728343,9,0.0,13.878205,39.342625,21.263381,8.600961
3,34.26,-15.88,443.392774,10,0.0,13.878205,39.342625,21.263381,8.600961
4,34.26,-15.87,437.443428,10,0.0,13.878205,39.342625,21.263381,8.600961

## Maximum within 3 consecutive weeks - 2015

In [15]:
maximum = 0
counter1 = 1
for col in df.columns:
    if ('2015' in col) and (counter1 <= 15):
        value = df[f'precipitation_week{counter1}_2015'] + df[f'precipitation_week{counter1+1}_2015'] + df[f'precipitation_week{counter1+2}_2015']
        maximum = np.maximum(maximum, value)
        counter1 = counter1 + 1

In [16]:
new_df['maximum_3weeks_2015'] = maximum

<ipython-input-16-cc1438eabf55>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['maximum_3weeks_2015'] = maximum

In [17]:
new_df.head()

,X,Y,elevation,Land_type,2015_mean_1,2015_mean_2,2015_mean_3,2015_mean_4,2015_mean_5,maximum_3weeks_2015
0,34.26,-15.91,887.764222,9,0.0,13.878205,39.342625,21.263381,8.600961,118.027876
1,34.26,-15.90,743.403912,9,0.0,13.878205,39.342625,21.263381,8.600961,118.027876
2,34.26,-15.89,565.728343,9,0.0,13.878205,39.342625,21.263381,8.600961,118.027876
3,34.26,-15.88,443.392774,10,0.0,13.878205,39.342625,21.263381,8.600961,118.027876
4,34.26,-15.87,437.443428,10,0.0,13.878205,39.342625,21.263381,8.600961,118.027876

In [18]:
new_df.tail()

,X,Y,elevation,Land_type,2015_mean_1,2015_mean_2,2015_mean_3,2015_mean_4,2015_mean_5,maximum_3weeks_2015
16461,35.86,-15.44,635.675022,10,20.331369,8.284553,47.499694,11.997628,13.964273,142.499083
16462,35.86,-15.43,632.598892,10,20.331369,8.284553,47.499694,11.997628,13.964273,142.499083
16463,35.86,-15.42,632.450136,10,20.331369,8.284553,47.499694,11.997628,13.964273,142.499083
16464,35.86,-15.41,629.272733,10,20.331369,8.284553,47.499694,11.997628,13.964273,142.499083
16465,35.86,-15.40,626.164641,10,20.331369,8.284553,47.499694,11.997628,13.964273,142.499083

## Mean of 3 consecutive weeks - 2015

In [20]:
counter1 = 1
counter2 = 1
for col in df.columns:
    if '2019' in col and counter1 <= 13:
        new_df[f'2019_mean_{counter2}'] = (df[f'precipitation_week{counter1}_2019'] + df[f'precipitation_week{counter1+1}_2019'] + df[f'precipitation_week{counter1+2}_2019'])/3
        counter1 += 3
        counter2 += 1

<ipython-input-20-dc61bb4b8c57>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[f'2019_mean_{counter2}'] = (df[f'precipitation_week{counter1}_2019'] + df[f'precipitation_week{counter1+1}_2019'] + df[f'precipitation_week{counter1+2}_2019'])/3

In [21]:
new_df.head()

,X,Y,elevation,Land_type,2015_mean_1,2015_mean_2,2015_mean_3,2015_mean_4,2015_mean_5,maximum_3weeks_2015,2019_mean_1,2019_mean_2,2019_mean_3,2019_mean_4,2019_mean_5
0,34.26,-15.91,887.764222,9,0.0,13.878205,39.342625,21.263381,8.600961,118.027876,17.537669,10.959775,31.388212,0.858774,0.0
1,34.26,-15.90,743.403912,9,0.0,13.878205,39.342625,21.263381,8.600961,118.027876,17.537669,10.959775,31.388212,0.858774,0.0
2,34.26,-15.89,565.728343,9,0.0,13.878205,39.342625,21.263381,8.600961,118.027876,17.537669,10.959775,31.388212,0.858774,0.0
3,34.26,-15.88,443.392774,10,0.0,13.878205,39.342625,21.263381,8.600961,118.027876,17.537669,10.959775,31.388212,0.858774,0.0
4,34.26,-15.87,437.443428,10,0.0,13.878205,39.342625,21.263381,8.600961,118.027876,17.537669,10.959775,31.388212,0.858774,0.0

## Maximum within 3 consecutive weeks - 2015

In [1]:
maximum = 0
counter1 = 1
for col in df.columns:
    if ('2019' in col) and (counter1 <= 15):
        value = df[f'precipitation_week{counter1}_2019'] + df[f'precipitation_week{counter1+1}_2019'] + df[f'precipitation_week{counter1+2}_2019']
        maximum = np.maximum(maximum, value)
        counter1 += 1

NameError: name 'df' is not defined

In [23]:
new_df['maximum_3weeks_2019'] = maximum

<ipython-input-23-6ff3a8a15847>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['maximum_3weeks_2019'] = maximum

In [24]:
new_df.head()

,X,Y,elevation,Land_type,2015_mean_1,2015_mean_2,2015_mean_3,2015_mean_4,2015_mean_5,maximum_3weeks_2015,2019_mean_1,2019_mean_2,2019_mean_3,2019_mean_4,2019_mean_5,maximum_3weeks_2019
0,34.26,-15.91,887.764222,9,0.0,13.878205,39.342625,21.263381,8.600961,118.027876,17.537669,10.959775,31.388212,0.858774,0.0,94.164635
1,34.26,-15.90,743.403912,9,0.0,13.878205,39.342625,21.263381,8.600961,118.027876,17.537669,10.959775,31.388212,0.858774,0.0,94.164635
2,34.26,-15.89,565.728343,9,0.0,13.878205,39.342625,21.263381,8.600961,118.027876,17.537669,10.959775,31.388212,0.858774,0.0,94.164635
3,34.26,-15.88,443.392774,10,0.0,13.878205,39.342625,21.263381,8.600961,118.027876,17.537669,10.959775,31.388212,0.858774,0.0,94.164635
4,34.26,-15.87,437.443428,10,0.0,13.878205,39.342625,21.263381,8.600961,118.027876,17.537669,10.959775,31.388212,0.858774,0.0,94.164635